.menu-item{
    text-decoration: none;
    color: #ffffff;
    padding: 6px 10px;
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}
.menu-item:hover{
    color: #e12454;
}

.navBg{
    background-color: #00294b;
}